.map-editor-container {
    flex: 1;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    overflow: hidden;
    flex-direction: column;
    transition: opacity 1s;
}

.map-editor-progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 50px;
    bottom: 50px;
    overflow: hidden;
    flex-direction: column;
}

.map-editor-container.is-loading {
    opacity: 0;
}

.editor-container {
    flex: 1;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    overflow: auto;
}

.map-editor-canvas {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.editor-box {
    border: 1px solid rgba(0,0,0,0.2);
    position: relative;
    padding: 0;
    margin: 20px auto 40px auto;
    width: 800px;
    height: 800px;
}
.editor-cursor-overlay {

}

.editor-interactive-object {
    opacity: 0;
}
.editor-interactive-object:hover {
    opacity: 1;
}

.map-editor-header {
    height: 40px;
    background-color: black;
}

